.item {
  width: 33.3333333%;
  padding: 0 15px;
  float: left;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.clearfix {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}